[Unit]
Description=pinger service
After=networking.service
Requires=networking.service

[Service]
User=nginx
ExecStart=/home/nginx/voctomix/prod_scripts/pinger.py
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
